body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid rgb(22, 22, 22);
    border-radius: 8px;
    background-color: grey;
}
#buttons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    align-items: flex-end;
    
}
#numbers{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#operations{
    display: flex;
    flex-direction: column;
}

#screen{
    width: 400px;
    border: solid black;
    border-top: white;
    border-radius: 6px;
    margin-bottom: 30px;
}

.row{
    display: flex;
    width: 400px;
    gap: 5px;
    justify-content: space-between;
}

button{
    height: 60px;
    width: 80px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    border: solid black;
    border-width: 2px;
    border-radius: 6px;
}

.operation{
    align-self: flex-end;
    background-color: rgba(94, 94, 245, 0.801);
}
.screen{
    height: 50px;
    background-color: white;
}
#current{
    border-radius: 0px 6px 6px;
    display: flex;
    justify-content: right;
    font-size: 48px;
    font-weight: 1000px;
    font-family: 'Courier New', Courier, monospace;
}
#last{
    border-radius: 6px 6px 0px;
    margin-bottom: -5px;
    padding: 10px;
    border-top: solid black;
    display: flex;
    justify-content: right;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

#clear{
    background-color: rgb(214, 59, 59);
}